<!DOCTYPE html>
<html>
    <head> 
       <meta charset="UTF-8">
       <title>Document</title>
    </head>
  <body>
<header>
    <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"/>
    <p>Barra de búsqueda</p>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>
    <nav>
        <ul>
           <li><a href="">Ofertas</a></li>
           <li><a href="">Tiendas Oficiales</a></li>
           <li><a href="">Vender</a></li>
           <li><a href="">Ayuda</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="">Creá tu cuenta</a></li>
            <li><a href="">Ingresá</a></li>
            <li><a href="">Mis compras</a></li>
        
        </ul>
    </nav>
    <img src="images\img-home-banner.jpg">
</header>
<main>
    <section>
        <h2>Sección: Basado en tu última vista</h2>
        <article>
            <img src="images\img-cafetera-moulinex.jpg">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
        </article>
        <article>
            <img src="images\img-macbook-pro-2019.jpg">
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
        </article>
        <article>
            <img src="images\img-samsung-galaxy-s10.jpg">
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
        </article>
        <article>
            <img src="images\img-tv-samsung-smart.jpg">
            <p>$23.200</p>
            <p>5$ off</p>
            <p>SmartTv Samsung 43</p>
        </article>
       
    </section>
    <section>
        <h2>Sección de Ofertas</h2>
        <article>
            <img src="images\img-cafetera-moulinex.jpg">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
        </article>
        <article>
            <img src="images\img-macbook-pro-2019.jpg">
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
        </article>
        <article>
            <img src="images\img-samsung-galaxy-s10.jpg">
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
        </article>
        <article>
            <img src="images\img-tv-samsung-smart.jpg">
            <p>$23.200</p>
            <p>5$ off</p>
            <p>SmartTv Samsung 43</p>
        </article>
    </section>
</main>
<footer>
    <h3>Pagá con tarjeta o en efectivo</h3>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés<br>con tarjeta o efectivo en puntos<br>de pago. ¡Y siempre es seguro!</p>

    <h3>Envío gratis desde $ 2.500</h3>
    <p>Sólo por estar registrad@ en Mercado Liebre<br>tenés 
    envíos gratis en miles de productos.<br>Es un beneficio de Mercado Puntos.</p>

    <h3>Seguridad, de principio a fin </h3>
    <p>¿No te gusta?, ¡Devolvelo!, En Mercado Liebre,<br>no hay nada que no puedas hacer, porque estás<br>siempre protegid@.</p>
    <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    

    
</footer>






  </body>



</html>