<!DOCTYPE html>
<html lang="es">
    <head> 
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link href="/css/styles.css" rel="stylesheet">
       <title>Document</title>
    </head>
  <body>
<header>
    <div class="logo-bar-flex">
        <div class="logo">
        <img class="logo-mercado" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
    </div>
    <div class="search-bar">
     <input type="text" placeholder="Buscar productos, marcas">
     <a href="">
     <i class="fa-solid fa-magnifying-glass"></i></a>
     </div>
    </div>
    <a href="/">Volver al inicio</a>
    
        <i class="fas fa-hand-holding-usd"></i>
    <p class="card">Comprá en cuotas y sin tarjeta de crédito</p>
    <div class="contenedor-nav-bar">
        <nav>
        <ul class="nav-bar">
           <li><a class="link" href="">Ofertas</a></li>
           <li><a class="link" href="">Tiendas Oficiales</a></li>
           <li><a class="link" href="">Vender</a></li>
           <li><a class="link" href="">Ayuda</a></li>
        </ul>
    </nav>
    <nav class="login-bar">
        <ul class="nav-bar">
            <li><a class="link" href="/register">Creá tu cuenta</a><i class="fa-regular fa-address-card"></i></li>
            <li><a class="link" href="/login">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
            <li><a class="link" href="">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
    </nav>
</div>
    
    <div class="burguer-menu">
        <a href="">
        <i class="fa-solid fa-bars"></i></a>
    </div>
    <div class="contenedor-banner">
        <img class="home-banner" src="images/img-home-banner.jpg" alt="">
    </div>
   
</header>
<main>
    <form action="" method="POST" class="formulario">
        <div class="registro">
         <label for="nombre"></label>
         <input class="register" type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" required>
    
        </div>
        <div class="registro">
         <label for="usuario"></label>
         <input class="register" type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" required>

        </div>
        <div class="registro">
         <label for="email"></label>
         <input class="register" type="email" name="email" id="email" placeholder="E-mail" required>

        </div>
        <h5 class="date-birth">Fecha de nacimiento</h5>
        <div class="date">
         <label for="fecha"></label>
         <input class="register" type="date" name="fecha" id="fecha" required>

        </div>
        <div class="date">
         <label for="domicilio"></label>
         <input class="register" type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required>
        </div>
        <div class="perfil">
            <h5 class="account">Perfil de usuario</h5>
        <label for="vendedor">Comprador</label>
        <input type="radio" name="perfil" id="vendedor">

        <label for="comprador">Vendedor</label>
        <input type="radio" name="perfil" id="comprador">
    </div>
    <h5 class="list">Intereses</h5>
    <div class="list-check">
         <div class="categorías">
        <input type="checkbox" name="electro" id="electro">
        <label for="electro">Electro</label>
    </div>
    <div class="moda-list">
        <input type="checkbox" name="moda" id="moda">
        <label for="moda">Moda</label>
        
    </div>
     
    <div class="home-list">
        <input type="checkbox" name="hogar" id="hogar">
        <label for="hogar">Hogar</label>    
    </div>
     
    <div class="toys-list">
        <input type="checkbox" name="juguetes" id="juguetes">
        <label for="juguetes">Juguetería</label>
    </div>
     
    <div class= "salud-list">
        <input type="checkbox" name="salud" id="salud">
        <label for="salud">Vida sana</label>
    </div>
</div>
   
     
     
        
    </form>  
</main>
<footer>
    <i class="fa-solid fa-credit-card"></i>
    <h3>Pagá con tarjeta o en efectivo</h3>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés<br>con tarjeta o efectivo en puntos<br>de pago. ¡Y siempre es seguro!</p>

    <i class="fa-solid fa-gift"></i>
    <h3>Envío gratis desde $ 2.500</h3>
    <p>Sólo por estar registrad@ en Mercado Liebre tenés 
    envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

    <i class="fa-solid fa-user-shield"></i>
    <h3>Seguridad, de principio a fin </h3>
    <p>¿No te gusta?, ¡Devolvelo!, En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    <h3 class="last">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    

    
</footer>






  </body>



</html>