footer{
    background-color: var(--gris-claro);
    padding: 10px;
    margin: -10px;
}

footer i{
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
  
    
}

i.fa-solid.fa-user-shield {
    margin-left: 45%;
}

i.fa-solid.fa-gift {
    margin-left: 45%;
}

i.fa-solid.fa-credit-card {
    margin-left: 45%;
}

footer h3{
    color: var(--gris-oscuro);
    /* margin-left: 45px; */
    text-align: center;
}

h3 {}
footer h3.last{font-size: smaller;margin: 0;}

footer p{
    color: var(--gris-oscuro);
    margin-left: 25px;
}
/* footer h3 .last{
    font-size: smaller;
    margin: 30px;
    margin-left: 1px;
    margin-bottom: 20px;
    margin-top: -1px;
    } */
@media (min-width: 361px){
    footer{
        text-align: center;
        background-color: var(--gris-claro);
        padding: 10px;
        margin: -10px;
    }
    
    footer i{
        font-size: 2em;
        color: #1259c3;
        margin-bottom: 10px;
      
        
    }
    
    i.fa-solid.fa-user-shield {
        /* margin-left: 45%; */
        margin-right: 18em;
    }
    
    i.fa-solid.fa-gift {
        /* margin-left: 45%; */
        margin-right: 18em;
    }
    
    i.fa-solid.fa-credit-card {
        /* margin-left: 45%; */
        margin-right: 18em;
    }
    
    footer h3{
        color: var(--gris-oscuro);
        text-align: center;
        margin-right: 5em;
    }
    footer h3.last{
        margin-top: 15%;
       
    }
    
    footer p{
        color: var(--gris-oscuro);
        /* text-align: center; */
        margin: 2em;
    }
    
    footer h3 .last{
    font-size: smaller;
    margin: 30px;
    margin-left: 1px;
    margin-bottom: 20px;
    margin-top: -1px;
    }
    

}


@media (min-width: 769px){
    footer{
        text-align: center;
        background-color: var(--gris-claro);
        padding: 10px;
        margin: -10px;
    }
    
    footer i{
        font-size: 2em;
        color: #1259c3;
        margin-bottom: 10px;
      
        
    }
    
    i.fa-solid.fa-user-shield {
        margin-left: 12em;
        /* margin-right: 194em; */
        font-size: 8em;
    }
    
    i.fa-solid.fa-gift {
        /* margin-right: 192em; */
        font-size: 8em;
        margin-left: 12em;
    }
    
    i.fa-solid.fa-credit-card {
        margin-left: 12em;
        /* text-align: center; */
        /* margin-right: 194em; */
        font-size: 8em;
        margin-top: 200px;
    }
    
    footer h3{
        color: var(--gris-oscuro);
        text-align: center;
        margin-right: 1em;
        font-size: 5em;
    }
    footer h3.last{
        margin-top: 15%;
        font-size: 4em;
    }
    
    footer p{
        color: var(--gris-oscuro);
        text-align: center;
        font-size: 4em;
    }
    
    footer h3 .last{
    font-size: smaller;
    margin: 30px;
    margin-left: 1px;
    margin-bottom: 20px;
    margin-top: -1px;
    }
    

}