/* Celular */
@media (max-width: 360px) {
    
}
header {
    font-family:'Roboto', sans-serif;
    background-color: var(--color-amarillo);
    font-size: 8px;
    /* width: 90%; */
}

header nav{

    }
header div.logo-bar-flex{
    display: flex;
    /* padding: 62px; */
    /* margin-top: 20px; */
    /* border-top: solid; */
    width: 100%;
    padding-top: 8px;
    align-items: center;
}
header div.logo{
    flex-wrap: nowrap;
    flex-direction: row;
    /* display: inline-block; */
    width: 50%;
}

header img.logo-mercado{
    width: 140px;
    }

header div.search-bar{
    display: flex;
    width: 50%;
    /* border: none; */
    }


header i.fa-solid.fa-magnifying-glass{
        background-color: var(--color-blanco);
        padding: 1.5px;
        border-radius: 3px;
        color: var(--gris-oscuro);
        /* margin-left: 0px; */
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 13px;
        /* padding-left: 1px; */
        /* width: 12px; */
    }

header div input {
    width: 121px;
    align-items: flex-end;
    /* position: absolute; */
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 10.7px;
    /* display: flex; */
    /* flex-direction: row; */
    height: 27px;
    padding-right: -4px;
    /* margin-right: 5px; */
    padding-top: 12px;
}


header i.fas.fa-hand-holding-usd{margin-left: 27px;font-size: 6px;}

header p.card{
    display: inline-block;
    font-size: 6px;
    }

header div.contenedor-nav-bar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
header nav ul.nav-bur{
    padding-left: 10px;
    list-style: none;
}

header ul.nav-bar {
    display: none;}

header nav ul li{}

header nav.login-bar{}
header nav.login-bar i.fa-regular.fa-address-card{
   font-size: 15px;
}
header nav.login-bar i.fa-solid.fa-arrow-right-to-bracket{
    font-size: 15px;
}

header nav.login-bar i.fa-solid.fa-basket-shopping{
    font-size: 15px;
}

header nav.login-bar ul.nav-bur{}

header nav.login-bar ul.nav-bur li{}

header nav.login-bar ul.nav-bur li a{}

header div.burguer-menu{
    margin-top: 12px;
    margin-left: 21px;
    }
   

header div.burguer-menu a{}

header div.burguer-menu a i.fa-solid.fa-bars{
    color: var(--color-blanco);
    margin-left: 57px;
    padding: 6px;
    background-color: #0556ad;
    border-radius: 3px;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

 header div.contenedor-banner{

height: 6vh;
} 
header div img.home-banner{width: 190px;}


/* Tablet */
@media (min-width: 361px) {
    header {
        font-family:'Roboto', sans-serif;
        background-color: var(--color-amarillo);
        font-size: 16px;
    }
    header nav{

    }
    header ul.nav-bur {
        
        }
    
    
    header img.home-banner {
        margin-top: 10px;
        /* width: 461px; */
        /* height: 74px; */
    }
    
    header img.logo-mercado{
        margin-left: 29px;
        width: 150px;
        }
    
    header div.search-bar{
        width: 50%;
        }
    
    header i.fa-solid.fa-magnifying-glass{
            background-color: var(--color-blanco);
            padding: 1px;
            border-radius: 2px;
            border-width: 1px;
            border-style: solid;
            display: inline-block;
            /* margin-left: 209px; */
            padding-top: 1px;
            font-size: 7px;
            /* padding-bottom: 0px; */
            padding-left: 0px;
            height: 11px;
            position: relative;
            top: -6px;
            left: 3px;
        }
    
    header div input {
    display: inline-block;
    padding: 3px;
    width: 92px;
    margin-left: 70px;
    font-size: 7px;
    /* padding-top: 0px; */
    /* padding-bottom: 0px; */
    height: 11px;
    border-radius: 2px;
    border-bottom: solid 1px var(--gris-oscuro);
    border-right: 1px solid var(--gris-oscuro);
}
    
    
    header i.fas.fa-hand-holding-usd{
        display: inline-block;
        top: 2px;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        position: absolute;
        /* top: 0px; */
        /* right: 232px; */
        /* font-size: 8px; */
    }
    header p.card{
        display: inline-block;
        position: absolute;
        /* top: 46px; */
        /* right: 50px; */
        font-size: 8px;
       }
    
    header nav ul.nav-bar{
        display: flex;
        padding-right: 34px;
        right: 2px;
        padding-left: 16px;
        justify-content: flex-end;
    }
    
    ul.nav-bur {padding: 3px;margin-left: -8px;}
    
    header nav ul li{
    padding-right: 13px;
    font-size: 12px;
}
    
    header nav ul li a{
        text-decoration: none;
    }
    
    header nav.login-bar{
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 50%;
    align-content: flex-end;
}
header nav.login-bar i.fa-regular.fa-address-card{
    font-size: 15px;
 }
 header nav.login-bar i.fa-solid.fa-arrow-right-to-bracket{
     font-size: 15px;
 }
 
 header nav.login-bar i.fa-solid.fa-basket-shopping{
     font-size: 15px;
 }
    header nav.login-bar ul.nav-bur{}
    
    header nav.login-bar ul.nav-bur li{}
    
    header nav.login-bar ul.nav-bur li a{}
    
    header div.burguer-menu{
    
display: none;
    }
       
    
    header div.burguer-menu a{}
    
    header div.burguer-menu a i.fa-solid.fa-bars{
        color: var(--color-blanco);
        margin-left: 45%;
        padding: 10px;
        background-color: #2222f9;
        border-radius: 5px;
    }
    header div.contenedor-banner{

/* width: 509px; */
}
    
   
}

/* Laptop */
@media (min-width: 769px){
    header {
        font-family:'Roboto', sans-serif;
        background-color: var(--color-amarillo);
        font-size: 12px;
    }
    
    header ul.nav-bur {
        
        }
    
    
    header img.home-banner {
        margin-top: 10px;
        width: 100%;
    }
    
    header img.logo-mercado{
        display: block;
        height: 19em;
        width: 90%;
        /* margin: 0; */
        margin-left: 115px;
        margin-top: 120px;
        }
    
    header div.search-bar{
        margin-top: 0px;
        width: 60em;
        height: -5px;
        display: inline-block;
        display: flex;
        position: absolute;
        left: 80em;
        top: 210px;
        }
    
    header i.fa-solid.fa-magnifying-glass{
            background-color: var(--color-blanco);
            padding: 7px;
            border-radius: 2px;
            border-width: 1px;
            border-style: solid;
            display: inline-block;
            font-size: 48px;
            padding-top: 5px;
            border-color: black;
            margin-left: 733px;
        }
    
    header div input {
    display: inline-block;
    width: 12.5em;
    height: 63px;
    font-size: 4em;
    padding-top: 10px;
    border: solid 2px;
    border-bottom: 3px black;
    border-bottom: solid 3px;
}
    
    
    header i.fas.fa-hand-holding-usd{
        margin-left: 9em;
        font-size: 4em;
        /* margin-bottom: -46px; */
        position: relative;
        /* right: 332px; */
        /* bottom: 148px; */
        left: 30em;
        top: -125px;
    }
    header p.card{
        display: inline-block;
        font-size: 4em;
        position: relative;
        left: 30em;
        top: -125px;
       }
    
    header nav ul.nav-bar{
        list-style: none;
        /* font-size: 52px; */
        margin-left: 80px;
        margin-bottom: 45px;
        margin-top: 120px;
    }
    
    ul.nav-bur {padding: 3px;margin-left: -8px;}
    
    header nav ul li{
    padding-right: 66px;
}
    
    header nav ul li a{
        text-decoration: none;
        font-size: 60px;
    }
    
    header nav.login-bar{
    margin-right: 7px;
}
header nav.login-bar i.fa-regular.fa-address-card{
    font-size: 55px;
 }
 header nav.login-bar i.fa-solid.fa-arrow-right-to-bracket{
     font-size: 55px;
 }
 
 header nav.login-bar i.fa-solid.fa-basket-shopping{
     font-size: 55px;
 }
    
    header nav.login-bar ul.nav-bur{}
    
    header nav.login-bar ul.nav-bur li{}
    
    header nav.login-bar ul.nav-bur li a{}
    
    header div.burguer-menu{
    
display: none;
    }
       
    
    header div.burguer-menu a{}
    
    header div.burguer-menu a i.fa-solid.fa-bars{
        color: var(--color-blanco);
        margin-left: 45%;
        padding: 10px;
        background-color: #2222f9;
        border-radius: 5px;
    }
    header div.contenedor-banner{

    }
    
  
}