header {
    font-family:'Roboto', sans-serif;
    background-color: var(--color-amarillo);
    font-size: 8px;
}

header nav{

    }
header div.logo-bar-flex{
    display: flex;
    /* padding: 62px; */
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* margin-top: 20px; */
    /* border-top: solid; */
}
header div.logo{
    flex-wrap: nowrap;
    flex-direction: row;
    display: inline-block;
    /* width: 100%; */
}

header img.logo-mercado{
    width: 50%;
    }

header div.search-bar{
    display: flex;
    width: 50%;
    border: none;
    flex-direction: row;
    }


header i.fa-solid.fa-magnifying-glass{
        background-color: var(--color-blanco);
        padding: 3.5px;
        border-radius: 4px;
        color: var(--gris-oscuro);
        margin-left: 138px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        padding-top: 8px;
        padding-bottom: 10px;
        font-size: 11px;
    }

header div input {
    width: 50%;
    align-items: flex-end;
    position: absolute;
    border: none;
    padding: 8px;
    border-radius: 4px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    font-size: 11.7px;
}


header i.fas.fa-hand-holding-usd{margin-left: 58px;font-size: 10px;}

header p.card{display: inline-block;
    font-size: 10px;}

header div.contenedor-nav-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
header nav ul.nav-bur{
    padding-left: 10px;
    list-style: none;
}

header ul.nav-bar {
    display: none;}

header nav ul li{}

header nav.login-bar{}
header nav.login-bar i.fa-regular.fa-address-card{
   font-size: 15px;
}
header nav.login-bar i.fa-solid.fa-arrow-right-to-bracket{
    font-size: 15px;
}

header nav.login-bar i.fa-solid.fa-basket-shopping{
    font-size: 15px;
}

header nav.login-bar ul.nav-bur{}

header nav.login-bar ul.nav-bur li{}

header nav.login-bar ul.nav-bur li a{}

header div.burguer-menu{
    margin-top: 10px;
    margin-left: 21px;}
   

header div.burguer-menu a{}

header div.burguer-menu a i.fa-solid.fa-bars{
    color: var(--color-blanco);
    margin-left: 40%;
    padding: 8px;
    background-color: #0556ad;
    border-radius: 3px;
    font-size: 19px;
    padding-top: 6px;
    padding-bottom: 8px;
}

 header div.contenedor-banner{

    } 
header div img.home-banner{width: 100%;}



@media (min-width: 361px) {
    header {
        font-family:'Roboto', sans-serif;
        background-color: var(--color-amarillo);
        font-size: 16px;
    }
    header nav{

    }
    header ul.nav-bur {
        
        }
    
    
    header img.home-banner {
        margin-top: 10px;
        width: 100%;
    }
    
    header img.logo-mercado{
        margin-left: 29px;
        width: 230px;
        }
    
    header div.search-bar{
        width: 0px;
        }
    
    header i.fa-solid.fa-magnifying-glass{
            background-color: var(--color-blanco);
            padding: 1px;
            border-radius: 2px;
            border-width: 1px;
            border-style: solid;
            display: inline-block;
            margin-left: 209px;
            padding-top: 3px;
            font-size: 14px;
            padding-bottom: 0px;
        }
    
    header div input {
    display: inline-block;
    padding: 3px;
    width: 144px;
    margin-left: 39px;
}
    
    
    header i.fas.fa-hand-holding-usd{
        display: inline-block;
        top: 2px;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        position: absolute;
        top: 47px;
        right: 232px;
    }
    header p.card{
        display: inline-block;
        position: absolute;
        top: 46px;
        right: 50px;
       }
    
    header nav ul.nav-bar{
        display: flex;
        padding-right: 34px;
        right: 2px;
        padding-left: 16px;
        justify-content: flex-end;
    }
    
    ul.nav-bur {padding: 3px;margin-left: -8px;}
    
    header nav ul li{
    padding-right: 13px;
    font-size: 12px;
}
    
    header nav ul li a{
        text-decoration: none;
    }
    
    header nav.login-bar{
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 50%;
    align-content: flex-end;
}
header nav.login-bar i.fa-regular.fa-address-card{
    font-size: 15px;
 }
 header nav.login-bar i.fa-solid.fa-arrow-right-to-bracket{
     font-size: 15px;
 }
 
 header nav.login-bar i.fa-solid.fa-basket-shopping{
     font-size: 15px;
 }
    header nav.login-bar ul.nav-bur{}
    
    header nav.login-bar ul.nav-bur li{}
    
    header nav.login-bar ul.nav-bur li a{}
    
    header div.burguer-menu{
    
display: none;
    }
       
    
    header div.burguer-menu a{}
    
    header div.burguer-menu a i.fa-solid.fa-bars{
        color: var(--color-blanco);
        margin-left: 45%;
        padding: 10px;
        background-color: #2222f9;
        border-radius: 5px;
    }
    header div.contenedor-banner{


}
    
    header img.home-banner{
    }
    
}


@media (min-width: 769px){
    header {
        font-family:'Roboto', sans-serif;
        background-color: var(--color-amarillo);
        font-size: 12px;
    }
    
    header ul.nav-bur {
        
        }
    
    
    header img.home-banner {
        margin-top: 10px;
        width: 100%;
    }
    
    header img.logo-mercado{
        display: block;
        height: 19em;
        width: 90%;
        /* margin: 0; */
        margin-left: 115px;
        margin-top: 120px;
        }
    
    header div.search-bar{
        margin-top: 0px;
        width: 60em;
        height: -5px;
        display: inline-block;
        display: flex;
        position: absolute;
        left: 80em;
        top: 210px;
        }
    
    header i.fa-solid.fa-magnifying-glass{
            background-color: var(--color-blanco);
            padding: 7px;
            border-radius: 2px;
            border-width: 1px;
            border-style: solid;
            display: inline-block;
            font-size: 48px;
            padding-top: 5px;
            border-color: black;
            margin-left: 733px;
        }
    
    header div input {
    display: inline-block;
    width: 12.5em;
    height: 63px;
    font-size: 4em;
    padding-top: 10px;
    border: solid 2px;
    border-bottom: 3px black;
    border-bottom: solid 3px;
}
    
    
    header i.fas.fa-hand-holding-usd{
        margin-left: 9em;
        font-size: 4em;
        /* margin-bottom: -46px; */
        position: relative;
        /* right: 332px; */
        /* bottom: 148px; */
        left: 30em;
        top: -125px;
    }
    header p.card{
        display: inline-block;
        font-size: 4em;
        position: relative;
        left: 30em;
        top: -125px;
       }
    
    header nav ul.nav-bar{
        list-style: none;
        /* font-size: 52px; */
        margin-left: 80px;
        margin-bottom: 45px;
        margin-top: 120px;
    }
    
    ul.nav-bur {padding: 3px;margin-left: -8px;}
    
    header nav ul li{
    padding-right: 66px;
}
    
    header nav ul li a{
        text-decoration: none;
        font-size: 60px;
    }
    
    header nav.login-bar{
    margin-right: 7px;
}
header nav.login-bar i.fa-regular.fa-address-card{
    font-size: 55px;
 }
 header nav.login-bar i.fa-solid.fa-arrow-right-to-bracket{
     font-size: 55px;
 }
 
 header nav.login-bar i.fa-solid.fa-basket-shopping{
     font-size: 55px;
 }
    
    header nav.login-bar ul.nav-bur{}
    
    header nav.login-bar ul.nav-bur li{}
    
    header nav.login-bar ul.nav-bur li a{}
    
    header div.burguer-menu{
    
display: none;
    }
       
    
    header div.burguer-menu a{}
    
    header div.burguer-menu a i.fa-solid.fa-bars{
        color: var(--color-blanco);
        margin-left: 45%;
        padding: 10px;
        background-color: #2222f9;
        border-radius: 5px;
    }
    header div.contenedor-banner{

    }
    
    header img.home-banner{
        margin-top: 10px;
        width: 100%;
    }
    
}