body{
    margin: 0;
   
}

main.main-sections{
    background-color: var(--color-gris);
    padding: 0;
    margin: auto;
    width: 90%;
}

main section.main-div{
  
    margin: 10px;
}

main section h4{
    font-size: 24px;
}

main section div{background-color: var(--color-blanco);}

main section div img{
    width: 260px;

}

main section div p{
}

main section div p.price{
    font-size: 18px;
   
}

main section div p.off{
    font-size: 16px;
    
}

main section.main-section-off{}
 
