@media(max-width:360px){
main.form-register{
    /* margin: 49px; */
    text-align: center;
    /* width: 50vw; */
    height: 88vh;
    margin-top: 40px;
    /* font-family: var(--Roboto); */
    /* padding: 10px; */
    position: relative;
}

main.form-register form.formulario{}

main.form-register form div input.register{
    width: 245px;
    border-radius: 4px;
    margin: 15px;
    border-radius: 4px;
    border: none;
    height: 30px;
    font-size: 12px;
    padding: 10px;
}
main.form-register form div label{
    /* margin-left: 10px; */
}

main.form-register form div.registro{/* margin: 10px; */}

main.form-register form h5.date-birth{
    position: absolute;
    left: 39px;
    top: 181px;
    /* padding: 44px; */
    /* margin: 32px; */
}
main.form-register form div.registro #email{
    margin-bottom: 35px;
    /* margin-top: 45px; */
}

main.form-register form div.date #domicilio{}

main.form-register form h5.account{
    position: absolute;
    left: 39px;
    top: 310px;
}

main.form-register form div.perfil #comprador{}

main.form-register form div.date{}

main.form-register form div.perfil{
    padding: 15px;
}
main.form-register form h5.list{
    
position: absolute;
    
left: 39px;
    
/* margin-bottom: 41px; */
}
main.form-register form div.list-check{position: absolute;left: 30px;top: 376px;display: flex;flex-wrap: wrap;flex-direction: column;font-size: 12px;/* text-align: center; */align-items: baseline;}

main.form-register form div #electro{margin-bottom: 16px;}

main.form-register form div #moda{
    margin-bottom: 16px;
}
main.form-register form div #hogar{
    margin-bottom: 16px;
}
main.form-register form div #juguetes{
    margin-bottom: 16px;margin-left: 9px;
}
main.form-register form div #salud{
    margin-bottom: 16px;/* margin-right: 10px; */
}
main.form-register form div.categorías{
    margin-top: 20px;
    /* text-align: center; */
    /* padding: 10px; */
}
main.form-register form div.list-check.categorías{}

main.form-register form div.list-check.moda-list{}

main.form-register form div.list-check.home-list{}

main.form-register form div.list-check.toys-list{}

main.form-register form div.list-check.salud-list{}
}

/* TABLET */
@media(min-width:361px){
    main.form-register{
        /* margin: 49px; */
        text-align: center;
        /* width: 50vw; */
        height: 88vh;
        margin-top: 40px;
        /* font-family: var(--Roboto); */
        /* padding: 10px; */
        position: relative;
        background-color: #ebebeb;
    }
    
    main.form-register form.formulario{}
    
    main.form-register form div input.register{
        width: 245px;
        border-radius: 4px;
        margin: 15px;
        border-radius: 4px;
        border: none;
        height: 30px;
        font-size: 12px;
        padding: 10px;
    }
    main.form-register form div label{
        /* margin-left: 10px; */
    }
    
    main.form-register form div.registro{/* margin: 10px; */}
    
    main.form-register form h5.date-birth{
        position: absolute;
        left: 265px;
        top: 181px;
        /* padding: 44px; */
        /* margin: 32px; */
    }
    main.form-register form div.registro #email{
        margin-bottom: 35px;
        /* margin-top: 45px; */
    }
    
    main.form-register form div.date #domicilio{}
    
    main.form-register form h5.account{
        position: absolute;
        left: 268px;
        top: 310px;
    }
    
    main.form-register form div.perfil #comprador{}
    
    main.form-register form div.date{}
    
    main.form-register form div.perfil{
        padding: 15px;
    }
    main.form-register form h5.list{
        position: absolute;
        left: 269px;
        /* margin-bottom: 41px; */
    }
    main.form-register form div.list-check{position: absolute;left: 300px;top: 376px;display: flex;flex-wrap: wrap;flex-direction: column;font-size: 15px;/* text-align: center; */align-items: baseline;}
    
    main.form-register form div #electro{margin-bottom: 16px;}
    
    main.form-register form div #moda{
        margin-bottom: 16px;
    }
    main.form-register form div #hogar{
        margin-bottom: 16px;
    }
    main.form-register form div #juguetes{
        margin-bottom: 16px;
        /* margin-left: 9px; */
    }
    main.form-register form div #salud{
        /* margin-bottom: 16px; */
        /* margin-right: 10px; */
    }
    main.form-register form div.categorías{
        margin-top: 20px;
        /* text-align: center; */
        /* padding: 10px; */
    }
    main.form-register form div.list-check.categorías{}
    
    main.form-register form div.list-check.moda-list{}
    
    main.form-register form div.list-check.home-list{}
    
    main.form-register form div.list-check.toys-list{}
    
    main.form-register form div.list-check.salud-list{}
    }

    /* DESKTOP */

    @media(min-width:769px){
        main.form-register{
            /* margin: 49px; */
            text-align: center;
            /* width: 50vw; */
            height: 88vh;
            margin-top: 40px;
            /* font-family: var(--Roboto); */
            /* padding: 10px; */
            position: relative;
        }
        
        main.form-register form.formulario{}
        
        main.form-register form div input.register{
            width: 245px;
            border-radius: 4px;
            margin: 15px;
            border-radius: 4px;
            border: none;
            height: 30px;
            font-size: 12px;
            padding: 10px;
        }
        main.form-register form div label{
            /* margin-left: 10px; */
        }
        
        main.form-register form div.registro{/* margin: 10px; */}
        
        main.form-register form h5.date-birth{
            position: absolute;
            left: 39px;
            top: 181px;
            /* padding: 44px; */
            /* margin: 32px; */
        }
        main.form-register form div.registro #email{
            margin-bottom: 35px;
            /* margin-top: 45px; */
        }
        
        main.form-register form div.date #domicilio{}
        
        main.form-register form h5.account{
            position: absolute;
            left: 39px;
            top: 310px;
        }
        
        main.form-register form div.perfil #comprador{}
        
        main.form-register form div.date{}
        
        main.form-register form div.perfil{
            padding: 15px;
        }
        main.form-register form h5.list{
            
        position: absolute;
            
        left: 39px;
            
        /* margin-bottom: 41px; */
        }
        main.form-register form div.list-check{position: absolute;left: 30px;top: 376px;display: flex;flex-wrap: wrap;flex-direction: column;font-size: 12px;/* text-align: center; */align-items: baseline;}
        
        main.form-register form div #electro{margin-bottom: 16px;}
        
        main.form-register form div #moda{
            margin-bottom: 16px;
        }
        main.form-register form div #hogar{
            margin-bottom: 16px;
        }
        main.form-register form div #juguetes{
            margin-bottom: 16px;margin-left: 9px;
        }
        main.form-register form div #salud{
            margin-bottom: 16px;/* margin-right: 10px; */
        }
        main.form-register form div.categorías{
            margin-top: 20px;
            /* text-align: center; */
            /* padding: 10px; */
        }
        main.form-register form div.list-check.categorías{}
        
        main.form-register form div.list-check.moda-list{}
        
        main.form-register form div.list-check.home-list{}
        
        main.form-register form div.list-check.toys-list{}
        
        main.form-register form div.list-check.salud-list{}
        }