:root{
    --color-amarillo:#EAC926;
};
:root{
    --color-azul:#03264C;
};
:root{
    --celeste: #1259c3;
};
:root{
    --gris-oscuro: #666;
};
:root{
    --gris-claro: #ebebeb;
};
:root{
    --verde: #39b54a;
};

:root {
    --color-gris: #ebebeb;
};
:root {
    --color-blanco: #ffffff
}


@import './general.css';
@import './header.css';
@import './home.css';
@import './footer.css'

