<!DOCTYPE html>
<html lang="es">
    <head> 
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link href="/css/styles.css" rel="stylesheet">
       <title>Document</title>
    </head>
  <body>
<header>
    <div class="logo-bar-flex">
        <div class="logo">
        <img class="logo-mercado" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
    </div>
    <div class="search-bar">
     <input type="text" placeholder="Buscar productos, marcas">
     <a href="">
     <i class="fa-solid fa-magnifying-glass"></i></a>
     </div>
    </div>
    <a href="/">Volver al inicio</a>
    
        <i class="fas fa-hand-holding-usd"></i>
    <p class="card">Comprá en cuotas y sin tarjeta de crédito</p>
    <div class="contenedor-nav-bar">
        <nav>
        <ul class="nav-bar">
           <li><a class="link" href="">Ofertas</a></li>
           <li><a class="link" href="">Tiendas Oficiales</a></li>
           <li><a class="link" href="">Vender</a></li>
           <li><a class="link" href="">Ayuda</a></li>
        </ul>
    </nav>
    <nav class="login-bar">
        <ul class="nav-bar">
            <li><a class="link" href="/register">Creá tu cuenta</a><i class="fa-regular fa-address-card"></i></li>
            <li><a class="link" href="/login">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
            <li><a class="link" href="">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
    </nav>
</div>
    
    <div class="burguer-menu">
        <a href="">
        <i class="fa-solid fa-bars"></i></a>
    </div>
    <div class="contenedor-banner">
        <img class="home-banner" src="images/img-home-banner.jpg" alt="">
    </div>
   
</header>
<main class="form-login">
<form action="" method="POST">
    <div class="login">
          <div class="first-div">
        <label for="name"></label>
    <input type="text" id="name" name="name" placeholder="Nombre de usuario" required>
    </div>
  <div class="second-div">
    <label for="password"></label>
    <input type="password" id="password" name="password" placeholder="Elegí tu contraseña" required>
         <div class="third-div">
            <button type="submit">Enviar</button>
         </div>
            
    </div>
</div>
    
</form>
</main>
 



<footer>
    <i class="fa-solid fa-credit-card"></i>
    <h3>Pagá con tarjeta o en efectivo</h3>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés<br>con tarjeta o efectivo en puntos<br>de pago. ¡Y siempre es seguro!</p>

    <i class="fa-solid fa-gift"></i>
    <h3>Envío gratis desde $ 2.500</h3>
    <p>Sólo por estar registrad@ en Mercado Liebre tenés 
    envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

    <i class="fa-solid fa-user-shield"></i>
    <h3>Seguridad, de principio a fin </h3>
    <p>¿No te gusta?, ¡Devolvelo!, En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    <h3 class="last">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    

    
</footer>






  </body>



</html>